* {
    font-family:  system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji"
}
html,
body {
	margin: 0px;
	height: 100%;
	font-size: 3.5vw;
	font-weight: 300;
}

b, strong {
    font-weight: 600;
}

.title {
	display: flex;
	align-items: flex-start;
	gap: 2rem;
}


.title h1 {
	font-size: 5vw;
	font-weight: normal;
	margin-bottom: 0px;
	margin-top: 0px;
	color: white;

}
.title small {
	font-size: 2vw;
	color:silver;
}
.title p {
	font-size: 2vmw;
	margin-top: 0px;
	margin-bottom: 0px;
}

h1 {
  font-size: 4vw;
}
h2 {
  font-size: 3vh;
}

.title img {
	width: 100px;
}

.nobreak{
	white-space: nowrap;
}
.header {
	padding: 0.5em;
	padding-top:0.5rem;
	padding-bottom:0.5rem;
	color: white;
	
	background-color: #053e6e;
}


.profile img, .profile_r img {
	width: 100px;
}

@media (min-width: 768px) {
	html,
	body {
		font-size: 2vw;
	}

	.title h1 {
		font-size: 3.0vw;
	}

	.title img {
		width: auto;
		height: 150px;
	}

	
	.title small {
		font-size: 1.0vw;
		color:silver;
	}
	.title p {
		font-size: 1.5vmw;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	h1 {
		font-size: 3vw;
	}
	h2 {
		font-size: 2vh;
	}

	.profile img, .profile_r img {
		width: 150px;
	}
	
}
@media (min-width: 1024px) {
	.profile img, .profile_r img {
		width: 200px;
	}
}
a {
	color: #053e6e;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #DC9456;
}


.header a,
.footer a {
	color: white;
}
.footer small {
	color: silver;
	margin-left:0.5em;
}

.footer {
	background-color: #053e6e;
	color: white;
	min-height: 300px;
	padding-top: 2em;
	padding-bottom: 3em;
	text-align: center;
}


.profile {
	float: left;
	margin-right: 2em;
	margin-bottom: 1em;
	clear: both;
	
}

.profile_r {
	float: right;
	margin-left: 2em;
	margin-bottom: 1em;
	clear: both;
    width: 100px;
}



.page_content {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 2rem;
	padding-top: 2em;
	padding-bottom: 2em;
	
}

.page_odd {
	background-color: #053e6e;
	color: white;
}
.page_odd a {
	color:silver;
}



img {
	border-radius: 2px;

}





.page_odd h1 {
	color: white;
}

.contact a {
	color: black;
}

.contact a:hover {
	color: #053e6e;
}






.book {
	padding-top: 2rem;
}

@media (min-width: 600px) {
	.book {
		display: flex;
		align-items: start;
		gap: 3rem;
	}
	.book p {
	padding-top:0px;
	margin-top:0px;
}
}
@media (max-width: 600px) {
	.book img {
		display: block;
		
		margin-bottom: 1rem;
	}
	.book p {
		padding-top:0px;
		margin-top:1px;
	}
}

.services div p {
	color: silver;
}

.services div p.cta {
	color: white;

}