* {
    font-family:  system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji"
}
html,
body {
	margin: 0px;
	height: 100%;
	font-size: 4vw;
	font-weight: 300;
}
h1 {
	font-size: 5vw;

}
b, strong {
    font-weight: 600;
}

.nobreak{
	white-space: nowrap;
}
.nobreak small {
	font-size: 2vw;
	color: silver;
}




/*********** Colors ***********/
a {
	color: #053e6e;
	text-decoration: none;
}

.page_odd {
	background-color: #053e6e;
	color: white;
}
.page_odd a {
	color:silver;
}


.services div p {
	color: silver;
}

.services div p.cta {
	color: white;
}

.header {
	padding: 0.5em;
	padding-top:0.5em;
	padding-bottom:0.5em;
	color: white;
	background-color: #053e6e;
}

.footer {
	background-color: #053e6e;
	color: white;
	min-height: 300px;
	padding-top: 2em;
	padding-bottom: 2em;
}

.footer img {
	width: 40px;
}

.footer a {
	color: white;
}

.ipull {
	display: flex;
	gap: 2em;
	align-items: flex-start;
}

/*********** Responsive Design ***********/
.hide-small {
	display: none;
}
.page_content {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 2em;
	padding-top: 2em;
	padding-bottom: 2em;
}

img.hide-big {
	width: 200px;
	padding-bottom:1em;
}

img {
	width: 75px;
}


@media (min-width: 600px) and (max-width: 1023px) {
	/* Tablet breakpoint */
	body {
		font-size: 16pt;
	}
	h1 {
		font-size: 24pt;
	}
	img {
		width: 150px;
	}
	.hide-small {
		display:block
	}
	.hide-big {
		display: none;
	}
}

@media (min-width: 1024px) {
	/* Desktop breakpoint */
	body {
		font-size: 20pt;
		
	}
	.ipull {
		gap: 1em;
		
	}
	h1 {
		font-size: 28pt;	
	}
	img {
		width: 200px;
	}
	.page_content {
		max-width: 1100px;
		margin-left: auto;
		margin-right: auto;
		padding: 2em;
		padding-top: 2em;
		padding-bottom: 2em;
	}
	.hide-small {
		display:block
	}
	.hide-big {
		display: none;
	}
}

